@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

html,
body {
  font-size: 18px;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  text-align: justify;
  @media (max-width: 480px) {
    text-align: left;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Neuton', serif;
  line-height: 1.1;
  text-align: left;
}

h1 {
  font-size: 2.1rem;
  @media (max-width: 480px) {
    font-size: 1.9rem;
  }
}

h2 {
  font-size: 1.6rem;
  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.3rem;
  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 1.1rem;
  @media (max-width: 480px) {
    font-size: 1.0rem;
  }
}

code {
  font-family: 'Fira Mono', monospace;
  font-size: 0.9rem;
}

pre {
  line-height: 1.2;
}
